.product_list {
    padding: 20px;
    text-align: center;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-list-cart {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    background-color: #3b2c2c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list-cart img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-list-cart h3 {
    margin: 5px 0;
}